.some-text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    font-style: italic;
}

.listen {
    font-weight: 700;
}

.firstPart {
    letter-spacing: 2px;
}

.subpart1 {
    text-decoration: line-through;
}

.subpart2 {
    text-transform: uppercase;
    text-align: center;
}

.subpart3 {
    text-indent: 30px;
    text-decoration: overline;
    text-decoration-style: wavy;
}

.secondPart {
    word-spacing: 5px;
    text-decoration: underline;
}
